@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=League+Script&family=Meie+Script&family=Petit+Formal+Script&display=swap');
@import 'animate.min.css';

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Microsoft JhengHei", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page-wrapper,
#zen-intro,
#zen-supporting,
#sidebar {
  height: 100%;
  background: black;
  color: white;
  position: relative;
}

#sidebar{
  background: rgb(47, 54, 33);
}

#wrapper {
  height: 100%;
}
#zen-intro {
  background: url('./images/04.jpg') no-repeat center center/cover; 
}

#banner h1{
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 5rem;
  font-family: 'Clicker Script', cursive;
}
#banner h2 {
  transform: rotate(-90deg);
  position: fixed;
  top: 43%;
  left: -23.5%;
  height: 10%;
  width: 52.5%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 100;
  font-family: 'Petit Formal Script', cursive;
}

#banner h2 abbr {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;  
  font-family: 'Petit Formal Script', cursive;
}

#banner::before {
  content: '';
  background: rgba(255, 255, 255, 0.5);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  left: 50%;
}

#banner::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 90.9%;
  left: 50.7%;
  background: url(./images/05.png) no-repeat center center/cover;
  animation: arrow 1s infinite ease-in-out;
}

#zen-summary{
  width: 96.5%;
  position: relative;
  left: 3.5%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 1px solid white;
}

#zen-summary p:nth-child(1) {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
}

#zen-summary p>a {
  color: rgb(110, 163, 110);
  text-decoration: none;
  font-weight: 700;
}

#zen-summary p:nth-child(2) {
  width: 25%;
  height: 100%;
  backdrop-filter: grayscale(1);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  border-left: 1px solid white;
}

#zen-summary p:nth-child(2):hover {
  background:white;
  color: black;
}

.preamble {
  position: absolute;
  top: 60%;
  left: 60%;
  color: white;
  z-index: 1;
}

#zen-preamble h3 {
  font-size: 2.5rem;
  padding-bottom: 6%;
  top: -30%;
  font-family: 'Petit Formal Script', cursive;
}

#zen-preamble p {
  width: 60%;
}

#zen-preamble::before{
  content: '';
  width: 60%;
  height: 100%;
  backdrop-filter: invert(0.7);
  position: absolute;
  left: 3%;
  top: 10%;
  z-index: -1;

}

/* 第二頁 */
#zen-supporting::before{
  content: '';
  background: url(./images/01.jpg) no-repeat center center/cover;
  width: 30%;
  height: 80%;
  position: absolute;
  z-index: 1;
}

#zen-supporting::after{
  content: '';
  background: url(./images/02.jpg) no-repeat center center/cover;
  width: 500px;
  height: 600px;
  position: absolute;
  left: 71%;
  top: 41%;
  z-index: 1;
}

#zen-explanation {
  z-index: 1;
  position: relative;
  left: 32%;
  top: 15%;
  width: 50%;
}

#zen-explanation h3 {
  font-size: 3rem;
  padding-bottom: 20px;
  position: relative;
  left: -80px;
  font-family: 'Petit Formal Script', cursive;
}

#zen-explanation::after{
  content: '';
  width: 200px;
  height: 200px;
  /* background: white; */
  position: absolute;
  top: 260%;
  left: -46%;
  backdrop-filter: invert(0.7);
}

#zen-participation {
  z-index: 5;
  width: 39%;
  position: relative;
  left: 32%;
  top: 40%;
  margin: 0;
}

#zen-participation h3 {
  font-size: 3rem;
  width: 40%;
  position: relative;
  left: 70%;
  padding-bottom: 20px;
  font-family: 'Petit Formal Script', cursive;
}

/* 右邊色塊 */
#zen-participation::after{
  content: '';
  width: 300px;
  height: 400px;
  /* background: white; */
  position: absolute;
  top: -150%;
  left: 130%;
  backdrop-filter: invert(0.7);
}

/* 第三頁 */
#zen-benefits {
  z-index: 10;
  width: 30%;
  position: absolute;
  top: 120%;
  left: 10%;
}

#zen-benefits h3 {
  font-size: 3rem;
  padding-bottom: 20px;
  font-family: 'Petit Formal Script', cursive;
}


#zen-requirements {
  z-index: 10;
  width: 45%;
  position: absolute;
  top: 155%;
  left: 50%;
}

#zen-requirements h3 {
  font-size: 3rem;
  padding-bottom: 20px;
  font-family: 'Petit Formal Script', cursive;
}

/* 左邊兩個色塊 */
#design-selection::before{
  content: '';
  width: 45%;
  height: 9%;
  background: rgba(255, 255, 255, 0.658);
  position: absolute;
  top: 0;  
}

#design-selection::after{
  content: '';
  width: 45%;
  height: 50%;
  background:rgba(255, 255, 255, 0.658);
  position: absolute;
  top: 50%;  
  z-index: 1;
}

/* 右圖 */
#design-archives::before {
  content: '';
  width: 55%;
  height: 41%;
  background:url(./images/03.jpg) no-repeat center center/cover;
  position: absolute;
  top: 9%;
  left: 45%;
}

#wrapper{
  z-index: 10;
  display: flex;
  align-items: flex-end;
}

@keyframes arrow {
0%{
  top: 90.9%
}
50%{
  top: 92%
}
100%{
  top: 90.9%
}
}