*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Microsoft JhengHei", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page-wrapper,
#zen-intro,
#zen-supporting,
#sidebar,
#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements {
  height: 100%;
  background: black;
  color: white;
  position: relative;
}

#banner {
  height: 100%;
}

#zen-intro {
  background: url('./images/01.jpg') no-repeat center center/cover; 
}
/* 圓點 */
#banner::before{
  content: '';
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 2%;
  left: 5%;
  border-radius: 50%;
  animation: top-dot 2s 1 0.5s ease-in-out alternate forwards;
}

/* 最上方線 */
#banner::after{
  content: '';
  width: 100%;
  height: 0.5px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 0px;
}

#banner h1 {
  width: 30%;
  font-size: 7rem;
  font-weight: 200;
  line-height: 120px;
  position: relative;
  top: 35%;
  left: 9%;
  word-wrap: break-word; 
  word-break: normal; 
}

#banner h2 {
  font-size: 1.2rem;
  font-weight: 200;
  position: relative;
  display: inline-block;
  top: 38%;
  left: 9.5%;
  text-decoration: none;
}

#zen-summary {
  height: 10%;
  width: 30%;
  position: absolute;
  top: 70%;
  left: 10%;  
  display: flex;
  justify-content: center;
  align-items: center;
}
#zen-summary a {  
  text-decoration: none;
  color: rgb(63, 207, 63);
}

#zen-summary a:hover {  
  color:pink;
}

#zen-summary p {
  padding: 3%;
}

#zen-summary p:nth-child(1) {
  border: 1px solid white;
}

#zen-summary p:nth-child(2) {
  background: white;
  color: black;
  border: 1px solid white;
  position: absolute;
  top: 90%;
  left: 0;
}

#zen-summary p:nth-child(2):hover {
  background: black;
  color: white;
  border: 1px solid white;
}

#zen-preamble {
  width: 30%;
  height: 10%;
  z-index: 5;
  position: relative;
  top: 25%;
  left: 60%;
}

#zen-preamble h3,
#zen-explanation h3 {
  font-size: 30px;
  margin-bottom: 2%;
}

#zen-supporting::before{
  content:'';
  background: url('./images/02.jpg') no-repeat center center/cover;
  height: 60%;
  width: 18%;  
  position: absolute;
  left: 10%;
  top: 8%;
  z-index: 3;
}

#zen-supporting::after{
  content:'';
  background: url('./images/03.jpg') no-repeat center center/cover;
  height: 60%;
  width: 18%;  
  position: absolute;
  left: 28%;
  top: 35%;
  z-index: 3;
}

#zen-explanation {
  width: 30%;
  position: relative;
  top: 53%;
  left: 60%;
}


@keyframes top-dot {
from{
  left: 5%
}
to{
  left: 95%
}
}



/* 右側線 */
/* #zen-summary::after {
  content: '';
  height: 80%;
  width: 0.5px;
  position: absolute;
  top: 20%;
  left: 95%;
  background: white;
  z-index: 2;
}

#zen-summary p:nth-child(1){
  width: 20%;
  display: inline;
  position: absolute;
  top: 450px;
  left: 1000px;
}

#zen-summary p:nth-child(2){
  width: 20%;
  display: inline;
  position: absolute;
  top: 550px;
  left: 1000px;
}

#zen-intro::before {  
  content: '';
  height: 400px;
  width: 800px;
  background: url('https://picsum.photos/800/400/?random=1') no-repeat center center/cover;
  position: absolute;
  top: 640px;
  left: 600px;
  z-index: 1;
}


#zen-preamble {
  height: 100vh;
  width: 350px;
  position: relative;
  top: 180px;
  left: 170px;
  z-index: 1;
}

#zen-preamble::before {
  content: '';
  height: 100%;
  width: 0.5px;
  position: absolute;
  top: -15%;
  left: -30%;
  background: white;
  z-index: 2;
}
#zen-preamble::after{
  content: '';
  height: 45%;
  width: 0.5px;
  position: absolute;
  top: 0%;
  left: 130%;
  background: white;
  z-index: 2;
}

#zen-explanation {
  width: 600px;
  position: relative;
  top: 80%;
  left: 50%;
  z-index: 1;
} */