@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page-wrapper,
#zen-intro,
#zen-supporting,
#sidebar {
  height: 100%;
  background: black;
  color: white;
  position: relative;
}

#zen-explanation,
#zen-participation,
#zen-benefits,
#zen-requirements,
#footer,
#wrapper {
  height: 100%;
  background: white;
  color: black;
  position: relative;
}

/* 第一頁 */
#zen-intro {
  background: url('./images/09.jpeg') no-repeat center center/cover; 
  /* background: rgb(202, 202, 202); */
  background-attachment: fixed;
}

#banner h1{
  position: absolute;
  top: 40%;
  left: 55%;
  font-size: 7rem;
  font-weight: 300;
}

#banner h1::before {
  content: '';
  width: 20%;
  height: 120%;
  background: white;
  position: absolute;
  top: 255%;
  left: 95.7%;
}

#banner h2 {
  transform: rotate(-90deg);
  position: fixed;
  top: 43%;
  left: -24%;
  height: 10%;
  width: 53%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 100;
}

#banner h2 abbr {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;  
  font-size: 2rem;
}

/* 首頁下方圓 */
#banner::before {
  content: '';
  background: rgba(255, 255, 255, 0.5);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  left: 50%;
}

/* 首頁下方箭頭 */
#banner::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 90.9%;
  left: 50.7%;
  background: url(./images/05.png) no-repeat center center/cover;
  animation: arrow 1s infinite ease-in-out;
}

#zen-summary{
  width: 96.5%;
  position: relative;
  left: 3.5%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

#zen-summary p:nth-child(1) {
  width: 75%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;  
  font-size: 1.3rem;
  font-weight: 700;
  backdrop-filter: blur(5px);
}

#zen-summary p>a {
  color: rgb(110, 163, 110);
  text-decoration: none;
  font-weight: 700;
}

#zen-summary p:nth-child(2) {
  width: 25%;
  height: 100%;
  backdrop-filter: grayscale(1);
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  border-left: 1px solid white;
  font-size: 1.3rem;
  font-weight: 700;

}

#zen-summary p:nth-child(2):hover {
  background:white;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
}

/* 上方黃色色塊
#zen-summary::before {
  content: '';
  width: 30%;
  height: 230%;
  background-color: rgb(245, 224, 106);
  position: absolute;
  top: 100%;
  left: 23%;
} */

.preamble {
  position: absolute;
  top: 64%;
  left: 10%;
  color: white;
  z-index: 1;
}

#zen-preamble h3 {
  font-size: 4rem;
  padding-bottom: 5%;
  font-weight: 300;
  font-size: 3rem;
  position: relative;
  top: 0px;
  left: -3%;
}

#zen-preamble p {
  height: 30%;
  width: 38%;
  position: relative;
  top: 0px;
  left: -3%;
  line-height: 1.5rem;
}

/* 黑底色塊左 */
#zen-preamble::before{
  content: '';
  width: 53%;
  height: 220%;
  /* backdrop-filter: invert(0.7); */
  position: absolute;
  left: -14%;
  top: -27%;
  background: black;
  z-index: -1;
}

/* 黑底色塊右 */
#zen-preamble::after{
  content: '';
  width: 30%;
  height: 160%;
  position: absolute;
  left: 20%;
  top: 33%;
  background: black;
  z-index: -1;
}

/* 第二頁 */
#zen-explanation h3 {
  width: 35%;
  position: relative;
  top: 10%;
  left: 60%;
  font-size: 3rem;
  font-weight: 300;
}

#zen-explanation p {
  width: 35%;
  position: relative;
  top: 20%;
  left: 60%;
}

/* 左側圖片 */
#zen-explanation::before {
  content: '';
  background: url(./images/04.jpeg)no-repeat center center/cover;
  width: 48%;
  height: 80%;
  position: absolute;
  top: 20%;
  left: 0%;
  z-index: 3;
}

/* 白色色塊 */
#zen-explanation::after{
  content: '';
  background:white;
  width: 10%;
  height: 20%;
  position: absolute;
  top: 20.5%;
  left: 5%;
  z-index: 2;
}

/* 下方米色色塊 */
#zen-explanation p::before {
content: '';
width: 110%;
height: 300%;
background: rgb(214, 213, 200);
position: absolute;
top: 650%;
left: -40%;
z-index: 2;
}

#zen-participation {
  z-index: 1;
  
}

/* 右側圖片 */
#zen-participation::before {
  content: '';
  width: 51.5%;
  height: 100%;
  background: url(./images/03.jpeg)no-repeat center center/cover;
  position: absolute;
  left: 48.2%;
  top: 9.4%;
  z-index: 3;
}

#zen-participation h3 {
  width: 35%;
  position: relative;
  top: 40%;
  left: 10%;
  font-size: 3rem;
  font-weight: 300;
}

/* 上方米色色塊 */
#zen-participation h3::before{
  content: '';
  width: 160%;
  height: 500%;
  background: rgb(214, 213, 200);
  position: absolute;
  top: -710%;
  left: -41%;
}

#zen-participation p {
  width: 30%;
  position: relative;
  top: 50%;
  left: 10%;
}



/*  */
#wrapper {
  position: absolute;
  top: 300%;
  left: 20%;
}
@keyframes arrow {
0%{
  top: 90.9%
}
50%{
  top: 92%
}
100%{
  top: 90.9%
}
}